{% extends "base.html" %}
{% block projectsactive %}active{% endblock projectsactive %}

<title>{% block title %}Projects {% endblock %} </title>

{% block body %}
    <div class="container my-3">
        <h2> My Projects</h2>
        <div class="row">
            <div class="col md 4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1623282033815-40b05d96c903?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80
                    " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Designer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col mod 4">
                <div class="card" style="width: 18rem;">
                    <img src="http://127.0.0.1:8000/static/img/slider3.jpg"
                    " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col mod 4">
                <div class="card" style="width: 18rem;">
                    <img src="http://127.0.0.1:8000/static/img/slider2.jpg
" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Entertainer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


